<div class="container">
  <div class= "question_answer">
    <h1 class ="answer"><%= @answer %></h1>
    <p class = "speaker"> - The coach</p>
  </div>

  <div class= "question_answer">
    <h1 class ="answer"><%= @question %></h1>
    <p class = "speaker"> - You</p>
  </div>

  <div class="link">
  <%= link_to 'Ask a new question', ask_path %>
  </div>
</div>
