// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  text-align: center;
  height: 100vh;
}

.question_answer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  border-left: 3px solid grey;
}

.answer{

}

.link{
  padding: 30px;
}

.speaker{
  font-size: 20px;
  color:grey;
}

.link{
  flex: 0 0 auto;
}
